@media (max-width:768px){

    nav{

        flex-direction:column;

        justify-content:center;

        gap:1rem;

        height:auto;

        padding:1rem 0;

    }

    .nav-links{

        flex-wrap:wrap;

        justify-content:center;

        gap:1rem;

    }

}

@media (max-width:768px){

    .hero-container{

        flex-direction:column-reverse;

        text-align:center;

    }

    .hero-description{

        margin-inline:auto;

    }

    .hero-buttons{

        justify-content:center;

    }

    .hero-content h1{

        font-size:3rem;

    }

}