.container{

    width:min(90%,var(--max-width));

    margin-inline:auto;

}

.section{

    padding:var(--space-xl) 0;

}

.btn{

    display:inline-block;

    padding:var(--space-sm) var(--space-md);

    border-radius:var(--radius-md);

    font-weight:var(--fw-semibold);

    transition:var(--transition);

    cursor:pointer;

    text-decoration:none;

    align-items: center;

    justify-content: center;

}